* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #242c38;
  --nav-color: #1d2531;
  --text-color: white;
  --btn-style: linear-gradient(to right, #4b89fb, #925df6);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  background-color: var(--nav-color);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 30px;
  border-radius: 5px;
}
.nav-data {
  display: flex;
  justify-content: end;
  margin-right: 30px;
}
.nav-data p {
  padding: 10px 20px;
}
#Home {
  color: gray;
}
.nav-data p:hover {
  opacity: 0.5;
  cursor: pointer;
}
.nav-data-special {
  padding: 10px 20px;
  background-image: var(--btn-style);
  border-radius: 4px;
}
.options {
  padding: 10px 20px;
  background-image: var(--btn-style);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.two {
  cursor: pointer;
  text-align: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 10px;
}
/*  */
.container {
  display: flex;
  gap: 25px;
}
.two2 {
  background-color: var(--nav-color);
  border-radius: 5px;
  height: fit-content;
}
.two2 p {
  padding: 10px 20px;
  cursor: pointer;
}
.two2 p:hover {
  transition: 0.3s ease;
  background-color: #0e1219;
}

/*  */
.second {
  display: flex;
}
.data-v1 {
  display: flex;
  gap: 15px;
}
.forload {
  margin-top: 20px;
}
.load1 {
  display: flex;
  justify-content: end;
  gap: 4px;
}
.load2 {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 143px;
}

.first {
  border: 1px solid;
  width: 389px;
  height: 202px;
}
.thisis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  visibility: hidden;
}
.thisis1 {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

@media (max-width: 699px) {
  .container {
    flex-direction: column;
  }
  .nav-data {
    font-size: 10px;
    margin-right: 10px;
  }
  .load1 {
    justify-content: center;
  }
  .data-v1 {
    margin-left: 80px;
  }
}
